html{
    scroll-behavior: smooth;
}

body{
  font-size: 18px;
  margin: 0;
  padding: 0;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px; 
  margin-top: 45px;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline;
}

nav{
  padding: 20px 0; 
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column: 1/-1;
  /*Your code here*/
  /*Span the top row*/
}

/* 
.container{
  display: grid;
  grid-template-columns: 100px 400px 100px;
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-row-gap: 15px;
  align-items: c
} */

@media all and (min-width: 800px){

  /* .container{

  }

  nav{

  } */

}